<h1>Listing sexo</h1>

<table>
  <thead>
    <tr>
      <th>String</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sexo.each do |sexo| %>
      <tr>
        <td><%= sexo.string %></td>
        <td><%= link_to 'Show', sexo %></td>
        <td><%= link_to 'Edit', edit_sexo_path(sexo) %></td>
        <td><%= link_to 'Destroy', sexo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sexo', new_sexo_path %>
