<%= form_for(@perfume, html: {multipart: true}) do |f| %>
  <% if @perfume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@perfume.errors.count, "error") %> prohibited this perfume from being saved:</h2>

      <ul>
      <% @perfume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :marca %><br>
    <%= f.select :marca_id, @marcas %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br>
    <%= f.select :sexo_id, @sexos %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.select :tipo_id, @tipos %>
  </div>
  <div class="field">
    <%= f.label :mililitro %><br>
    <%= f.select :mililitro_id, @mililitros %>
  </div>
  <div class="field">
    <%= f.label :subir_imagen %><br>
    <%= f.file_field :subir_imagen %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
