<%= form_for(@perfume, html: {multipart: true}) do |f| %>
  <% if @perfume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@perfume.errors.count, "error") %> prohibited this perfume from being saved:</h2>

      <ul>
      <% @perfume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
  <div class="form-group">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
  <br>
  <div class="btn-group">
    <%= f.label :marca %>
    <%= f.select :marca_id, @marcas %>
  </div>
  <br>
  <div class="field">
    <%= f.label :sexo %>
    <%= f.select :sexo_id, @sexos %>
  </div>

  <br>
  <div class="field">
    <%= f.label :tipo %>
    <%= f.select :tipo_id, @tipos %>
  </div>
  <br>
  <div class="field">
    <%= f.label :mililitro %>
    <%= f.select :mililitro_id, @mililitros %>
  </div>
  <br>
  <div class="field">
    <%= f.label :subir_imagen %><br>
    <%= f.file_field :subir_imagen %>
  </div>
  <br>
  <div class="field">
    <%= f.label :precio %>
    <%= f.text_field :precio%>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
