<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span2">
    <%= render '/marcas/marcas' %>
  </div>
  <div class="span3">
    <%= image_tag @perfume.imagen_path %>
  </div>

  <div class="span7">
    <p>
      <strong>Nombre:</strong>
      <%= @perfume.nombre %>
    </p>

    <p>
      <strong>Marca:</strong>
      <%= @perfume.marca.descripcion %>
    </p>

    <p>
      <strong>Sexo:</strong>
      <%= @perfume.sexo.descripcion %>
    </p>

    <table class="table">
    <% @perfumes.each do |p| %>
    	<tr>
    		<td><%= p.nombre %> <%=p.tipo.descripcion.capitalize%> <%=p.mililitro.descripcion %></td>
    		<td>Precio: S/. <%= p.precio %></td>
    	</tr>
    <% end %>
    </table>
    <%= link_to 'Regresar', inicio_perfumes_path %>
  </div>
</div>
