<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @perfume.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @perfume.tipo %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @perfume.sexo %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @perfume.precio %>
</p>

<p>
  <strong>Mililitro:</strong>
  <%= @perfume.mililitro %>
</p>

<p>
  <strong>Imagen url:</strong>
  <%= @perfume.imagen_url %>
</p>

<%= link_to 'Edit', edit_perfume_path(@perfume) %> |
<%= link_to 'Back', perfumes_path %>
