<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @perfume.nombre %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @perfume.marca.descripcion %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @perfume.sexo.descripcion %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @perfume.tipo.descripcion %>
</p>

<p>
  <strong>Mililitro:</strong>
  <%= @perfume.mililitro.descripcion %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= image_tag @perfume.imagen_path %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @perfume.precio %>
</p>

<%= link_to 'Editar', edit_perfume_path(@perfume),  class: "btn btn-primary" %> |
<%= link_to 'Regresar', perfumes_path,  class: "btn btn-primary" %>
