<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfumeria</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="masthead">
	        <h2 class="muted"> Le'Paris</h2>
	        <div class="navbar">
	          <div class="navbar-inner">
	            <div class="container">
	              <ul class="nav">
	                <li><%=link_to 'Inicio', :root%></li>
 					<li><%=link_to 'Fragancias Masculinas', :masculinos_perfumes%></li>
					<li class="active"><%=link_to 'Fragancias Femeninas', :femeninos_perfumes%></li>
					<li><%=link_to 'Contacto', '#'%></li>
	                <li><%=link_to 'Quienes Somos', :acerca_de_perfumes%></li>
	              </ul>
	            </div>
	          </div>
	        </div><!-- /.navbar -->
	    </div>
	    <%= yield %>

		<hr>

	    <div class="footer">
	        <p ALIGN=right>Copyright © 2013 Developers. All rights reserved </p>
	    </div>
	</div><!-- /.container -->

</body>
</html>
